@model List<Category>
@{
    ViewBag.Title = "CategoryTable";
}

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input type="text" name="search" id="search-text" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" id="search-btn" class="form-control btn btn-danger">Search</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" id="add-btn" class="form-control btn btn-danger">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Category Name</td>
                <td>Description</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <button class="edit-btn" data-id="@category.Id">Edit</button>
                    <button class="delete-btn" data-id="@category.Id">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>

    $("#search-btn").click(function () {
        var searchValue = $("#search-text").val();
        $.ajax({
            type: "GET",
            url: "/Category/CategoryTable",
            data: {
                search: searchValue
            }
        }).done(function (response) {
            $('#table-container').html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $(".edit-btn").click(function () {
        var dataId = $(this).attr("data-id");
        $.ajax({
            type: "GET",
            url: "/Category/Edit",
            data: {
                id: dataId
            }
        }).done(function (response) {
            focusAction();
            $('#action-container').html(response);
        })
    });

    $(".delete-btn").click(function () {

        var dataId = $(this).attr("data-id")
        var confimDelete = confirm("Are you sure you want to Delete?");

        if (confimDelete) {
            $.ajax({
                type: "POST",
                url: "/Category/Delete",
                data: {
                    id: dataId
                }
            }).done(function (response) {
                $('#table-container').html(response);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        }
    });

    $("#add-btn").click(function () {
        $.ajax({
            type: "GET",
            url: "/Category/Create"
        }).done(function (response) {
            focusAction();
            $('#action-container').html(response);
        })
    });

    function focusAction() {
        $('html, body').animate({
            scrollTop: $("#action-container").offset().top - 100
        }, 1000);
    }
</script>