
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<form id="add-category-form" method="post">
    <label>Name</label>
    <input type="text" name="name" /><br />

    <label>Description</label>
    <input type="text" name="Description" /><br />

    <label>Image</label>
    <input name="ImageUrl" id="ImageUrl" type="hidden" />
    <input id="imageUpload" type="file" name="Image" accept=".png, .jpg" /><br />

    <div class="thumb">
        <img id="categoryImage" width="100" />
    </div>

    <label>Is Featured ?</label>
    <input type="radio" name="IsFeatured" value="true"/> YES
    <input type="radio" name="IsFeatured" value="false"/> NO<br />

    <button id="save-category" type="submit">Save</button>
</form>

<script>
    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();
        var totalFiles = element.files.length;

        for (let i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: "/Shared/UploadImage",
            data: formData,
            dataType: 'json',
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response.Success) {
                $("#ImageUrl").val(response.ImageUrl);
                $("#categoryImage").attr("src", response.ImageUrl);
            }
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });
</script>

