@model Category
@{
    ViewBag.Title = "Edit";

    var checkerTrue = Model.IsFeatured ? "checked" : string.Empty;
    var checkerFalse = !Model.IsFeatured ? "checked" : string.Empty;

    var imageUrl = !string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "/Content/images/download.png";

}

<h2>Edit Category</h2>
<form method="post" id="form-category-edition">
    <input type="hidden" name="Id" value="@Model.Id" /><br />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" value="@Model.Name" /><br />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" name="Description" class="form-control" value="@Model.Description" /><br />
            </div>
            <div class="form-group">
                <label>Is Featured ?</label>
                <div class="input-group">
                    <div class="radio form-control">
                        <label><input type="radio" name="IsFeatured" value="true" @checkerTrue /> YES</label>
                    </div>
                    <div class="radio form-control">
                        <label><input type="radio" name="IsFeatured" value="false" @checkerTrue /> No</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Edit Image </label>
                <div class="radio form-control">
                    <input name="ImageUrl" id="ImageUrl" type="hidden" />
                    <input id="imageUpload" type="file" name="Image" accept=".png, .jpg" /><br />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img src="@imageUrl" class="img-thumbnail img-fluid" id="categoryImage"/>
            </div>
        </div>
     </div>
    <button id="update-category" type="button" class="btn btn-danger">Update</button>
</form>

