@model List<Category>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="table-container">
        @{
            Html.RenderAction("CategoryTable");
        }
        <div id="action-container">

        </div>
    </div>
</div>