
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<form id="form-product-creation">
    <label>Name</label>
    <input type="text" id="name" name="Name" /><br />

    <label>Description</label>
    <textarea id="description" name="Description" rows="1" cols="50"></textarea><br />

    <label>Price</label>
    <input type="text" id="price" name="Price" /><br />

    <button type="button" id="save-product">Save</button>
</form>

<script>
        $("#save-product").click(function () {
            $.ajax({
                type: "POST",
                url: "/Product/Create",
                data: $("#form-product-creation").serialize()
            }).done(function (response) {
                $('#action-container').html("");
                $('#form').remove();
                $('#table-data').html(response);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });
</script>

